<launch>
  <arg name="agent" default="ddpg"/>
  <arg name="run_type" default="train"/>
  <arg name="load_path" default="None"/>
  <node pkg="project" type="run_agent.py" name="$(arg run_type)" output="screen" args="$(arg env_type) $(arg agent_type) $(arg module_index) $(arg save_path) $(arg load_path)"/>
  <node pkg="project"  type="moving_obst_agent.py" name="moving_obstacle" output="screen" />
</launch>
